body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --yellow-bg: rgb(97, 97, 52);
    --green-bg: rgb(42, 82, 42);
    --gray-bg: rgb(44,44,44);
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

nav > h1 {
    user-select: none;
    margin: 0 0 0 20px;
}

.navElement {
    border: none;
    background: none;
    color: #fff;
    transition: filter 0.3s ease;
    margin-right: 15px;
}

.navElement:hover {
    filter: brightness(70%);
    cursor: pointer;
}

#settingsBtn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url(./images/settings-dark.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 90% auto;
    margin-left: auto;
}

#instructionsBtn {
    border: 3px solid #fff;
    font-size: 19px;
    font-weight: 1000;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

#login-signup-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-right: 20px;
    height: 50px;
    width: 140px;
    border: none;
    color: #fff;
    background-image: url(./images/profile-dark.png);
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: 15% auto;
}

.nav-hover-effect {
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#wordle {
    position: relative;
    width: 550px;
}

#guesses {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.typed {
    background-color: #222;
    border-color: #555 !important;
}

.guess {
    display: flex;
}

.letter {
    box-sizing: border-box;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 70px;
    width: 70px;
    border: 2px solid #383838;
    margin: 3px;
    transition: background-color 0.3s border-color 1s ease;
}

/* Alert overlay for invalid guesses */
#alert {
    display: block;
    position: absolute;
    border-radius: 10px;
    bottom: 40%;
    left: calc(50% - 120px);
    background-color: rgba(55, 55, 55, 0.8);
    width: 240px;
    height: 60px;
    display: none;
}

#alertText {
    text-align: center;
}

/* Web keyboard */
#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
}

.keyRow {
    display: flex;
    align-items: center;
}

.key {
    color: #fff;
    background-color: #868686;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 60px;
    margin: 2px;
    transition: filter 0.3s ease;
    font-weight: bold;
}

.key-hover-effect {
    cursor: pointer;
    filter: brightness(90%);
}

.keyLetter {
    width: 50px;
    font-size: 25px;
}

.actionBtn {
    width: 75px;
}

#enter {
    font-size: 18px;
}

#backspace {
    display: inline-flex;
    background-image: url(./images/backspace-dark.png);
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center;
}

/* Overlay for settings and login/signup */
#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
}

#settings {
    background-color: #282828;
    width: 600px;
    height: 500px;
}

.loginsignupform {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #282828;
    width: 400px;
    border-radius: 22px;
    box-shadow: 2px 4px rgba(55, 55, 55, 0.4);
}

#signup-form {
    height: 550px;
}

#login-form {
    height: 500px;
}

form > h1 {
    font-size: 45px;
    margin: 0 0 20px 0;
}

form > p {
    margin-top: 30px;
    margin-bottom: 0;
}

button.login {
    background-color: rgb(22, 141, 221) !important;
}

span.login {
    color: rgb(22, 141, 221) !important;
}

button.signup {
    background-color: rgb(197, 159, 52) !important;
}

span.signup {
    color: rgb(197, 159, 52) !important;
}

#form-mode {
    display: flex;
    justify-content: space-between;
    width: 300px;
    border: 1px solid #555;
    margin-bottom: 30px;
    border-radius: 10px;
}

#form-mode > button{
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: none;
    color: #fff;
    font-size: 22px;
}

.field {
    box-sizing: border-box;
    border: none;
    height: 40px;
    width: 260px;
    padding: 4px 10px;
    margin-bottom: 25px;
    border-radius: 10px;
}

#submit {
    height: 50px;
    width: 260px;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: filter 0.3 ease;
}

#submit:hover {
    cursor: pointer;
    filter: brightness(110%);
}

#form-errors {
    display: none;
}

#results {
    border-radius: 24px;
    text-align: center;
    background-color: #282828;
    height: 500px;
    width: 400px;
}

#results > h1 {
    padding-bottom: 8px;
    border-bottom: 1px dotted #868686;
}