body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --yellow-bg: rgb(97, 97, 52);
    --green-bg: rgb(42, 82, 42);
    --gray-bg: rgb(44,44,44);
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

nav > h1 {
    user-select: none;
    margin: 0 0 0 20px;
}

.navElement {
    border: none;
    background: none;
    color: #fff;
    transition: filter 0.3s ease;
    margin-right: 15px;
}

.navElement:hover {
    filter: brightness(70%);
    cursor: pointer;
}

#resultsBtn {
    visibility: hidden;
    width: 35px;
    height: 35px;
    background-image: url(./images/results-dark.png);
    background-position: 25%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-left: auto;
}

#settingsBtn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url(./images/settings-dark.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 90% auto;
}

#instructionsBtn {
    border: 3px solid #fff;
    font-size: 19px;
    font-weight: 1000;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

#login-signup-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-right: 20px;
    height: 50px;
    width: 140px;
    border: none;
    color: #fff;
    background-image: url(./images/profile-dark.png);
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: 15% auto;
}

.span-hover-effect {
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#wordle {
    position: relative;
    width: 550px;
}

#guesses {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.typed {
    background-color: #222;
    border-color: #555 !important;
}

.guess {
    display: flex;
}

.letter {
    box-sizing: border-box;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 70px;
    width: 70px;
    border: 2px solid #383838;
    margin: 3px;
    transition: background-color 0.3s border-color 1s ease;
}

/* Alert overlay for invalid guesses */
#alert {
    display: block;
    position: absolute;
    border-radius: 10px;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(55, 55, 55, 0.8);
    width: 320px;
    height: 60px;
}

#alertText {
    text-align: center;
}

/* Web keyboard */
#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
}

.keyRow {
    display: flex;
    align-items: center;
}

.key {
    color: #fff;
    background-color: #868686;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 60px;
    margin: 2px;
    transition: filter 0.3s ease;
    font-weight: bold;
}

.key-hover-effect {
    cursor: pointer;
    filter: brightness(90%);
}

.keyLetter {
    width: 50px;
    font-size: 25px;
}

.actionBtn {
    width: 75px;
}

#enter {
    font-size: 18px;
}

#backspace {
    display: inline-flex;
    background-image: url(./images/backspace-dark.png);
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center;
}

/* Overlay */
#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

/* Form overlay (child of overlay) */
.loginsignupform {
    position: relative;
    background-color: #282828;
    height: 550px;
    width: 450px;
    border-radius: 22px;
    box-shadow: 2px 4px rgba(55, 55, 55, 0.4);
}

button.login, p.login {
    background-color: rgb(22, 141, 221);
}

button.signup, p.signup {
    background-color: rgb(197, 159, 52);
}

span.login {
    color: rgb(22, 141, 221);
}

span.signup {
    color: rgb(197, 159, 52);
}

form > h1 {
    top: 40px;
    text-align: center;
    font-size: 45px;
    margin: 0;
}

#form-mode {
    top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 300px;
    border: 1px solid #555;
    margin-bottom: 30px;
    border-radius: 10px;
}

#signup-form > *{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

form#signup-form #emailError {
    top: 246px;
}

form#signup-form #passwordError {
    top: 326px;
}

form#signup-form [type="email"] {
    top: 200px;
}

form#signup-form [name="password"] {
    top: 278px;
}

form#signup-form [name="confirmPassword"] {
    top: 356px;
}

form#signup-form #text-recommend {
    text-align: center;
    width: 250px;
    bottom: 20px;
}

#login-form > *{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.unselected {
    width: 45%;
}

.selected {
    width: 55%;
}

.selectable {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 100%;
    border-radius: 10px;
    border: none;
    background: none;
    color: #fff;
    font-size: 22px;
    text-align: center;
}

.field {
    position: absolute;
    box-sizing: border-box;
    border: none;
    height: 40px;
    width: 300px;
    padding: 4px 10px;
    margin: 0;
    border-radius: 10px;
}

form#login-form #emailError {
    top: 280px;
}

form#login-form #passwordError {
    top: 370px;
}

form#login-form [type="email"] {
    top: 230px;
}

form#login-form [type="password"] {
    top: 320px;
}

form#login-form #text-recommend {
    text-align: center;
    width: 250px;
    bottom: 20px;
}

.form-error {
    left: 80px !important;
    transform: none !important;
    padding: 0;
    color: red;
    margin: 0;
    height: 18px;
    width: 300px;
}

#submit {
    bottom: 90px;
    height: 48px;
    width: 300px;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: filter 0.3 ease;
}

#submit:hover {
    cursor: pointer;
    filter: brightness(110%);
}

/* Results overlay (child of overlay) */
#results {
    position: relative;
    border-radius: 24px;
    text-align: center;
    background-color: #282828;
    height: 500px;
    width: 400px;
}

#results > h1 {
    padding-bottom: 8px;
    border-bottom: 1px dotted #868686;
}

.pic {
    height: 140px;
    width: auto;
}

#message {
    padding: 0 20px;
    font-size: 18px;
}

#stats p {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 300px;
}

#stats p:last-child {
    bottom: 100px;
}

#plugForAcc {
    width: 240px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

#formOptions {
    position: absolute;
    display: block;
    margin: 10px 0 0 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
    font-size: 22px;
}

/* Settings overlay (child of overlay) */
#settings-container {
    background-color: #282828;
    position: relative;
    border-radius: 24px;
    text-align: center;
    height: 500px;
    width: 400px;
}

#settings-container > * {
    position: absolute;
}

#settings-container > h1 {
    padding-bottom: 10px;
    margin: 0;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    border-bottom: 1px dotted #868686;
    font-size: 42px;
}

#settings  { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 74%;
    text-align: left;
}

.setting {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.setting > p:first-child {
    font-size: 20px;
}

.options {
    height: 40px;
    width: 90px;
    border-radius: 18px;
    border: 1px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    transition: background-color 0.2s ease-in-out;
}

.btn {
    background-color: #ddd;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    width: 45px;
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

button.on {
    transform: translateX(46px);
}

.btn:hover {
    cursor: pointer;
}

div.on {
    background-color: rgb(46, 122, 46, 0.6);
}